.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 17px;
    line-height: 130%;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    padding: 15px 45px;
    letter-spacing: 0.06em;
}

.btn--primary {
    background-color: var(--color-primary);
    color: var(--color-dark);
}