/* Header */
.pets-page .header {
    background: #fff;
    color: var(--color-gray-secondary);
}

.pets-page .header__inner {
    margin-bottom: 30px;
}
.pets-page .logo__title {
    color: var(--color-gray-secondary);
}

.pets-page .logo__subtitle {
    color: var(--color-dark);
}


.pets-page .header-nav__link {
    color:var(--color-gray-secondary);
}

.pets-page .header-nav__link:hover {
    color: var(--color-dark);
}

.pets-page .header-nav__link--active {
    cursor: default;
    pointer-events: none;
    color: var(--color-gray-secondary);
}

/* section Our Friend */

.pets-page .slider-item {
    flex-direction: column;
    gap: 30px;
}

.pets-page .slider-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}



.pets__pagination-wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
}

